@import url(https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;300;400;500;600;700&family=Mulish:wght@200;300;400;500;600;700;800;900&display=swap);
.gray-bg {
    background: #f6f9fc
}

.boxed-btn {
    background: #fff;
    color: #ff4495!important;
    display: inline-block;
    padding: 18px 44px;
    font-family: "Mulish", sans-serif;
    font-size: 16px;
    font-weight: 500;
    border: 0;
    border: 1px solid #ff4495;
    letter-spacing: 3px;
    text-align: center;
    color: #ff4495;
    text-transform: uppercase;
    cursor: pointer;
    letter-spacing: 0
}

.boxed-btn:hover {
    background: #ff4495;
    color: #fff!important;
    border: 1px solid #ff4495
}

.boxed-btn:focus {
    outline: none
}

body {
    font-family: "Mulish", sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 16px
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Josefin Sans", sans-serif;
    color: #232f55;
    margin-top: 0;
    font-style: normal;
    font-weight: 500;
    text-transform: normal
}

p {
    font-family: "Mulish", sans-serif;
    color: #232f55;
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 15px;
    font-weight: normal
}

.mt-10 {
    margin-top: 10px
}

.mt-20 {
    margin-top: 20px
}

.mt-30 {
    margin-top: 30px
}

.mt-40 {
    margin-top: 40px
}

.mb-5 {
    margin-bottom: 5px
}

.mb-10 {
    margin-bottom: 10px
}

.mb-20 {
    margin-bottom: 20px
}

.mb-30 {
    margin-bottom: 30px
}

.mb-35 {
    margin-bottom: 35px
}

.mb-40 {
    margin-bottom: 40px
}

.mb-50 {
    margin-bottom: 50px
}

.mb-55 {
    margin-bottom: 55px
}

.mb-60 {
    margin-bottom: 60px
}

.mr-30 {
    margin-right: 30px
}

.pt-35 {
    padding-top: 35px
}

.img {
    max-width: 100%;
    -webkit-transition: all .3s ease-out 0s;
    -moz-transition: all .3s ease-out 0s;
    -ms-transition: all .3s ease-out 0s;
    -o-transition: all .3s ease-out 0s;
    transition: all .3s ease-out 0s
}

.fix {
    overflow: hidden
}

.clear {
    clear: both
}

a,
.button {
    -webkit-transition: all .3s ease-out 0s;
    -moz-transition: all .3s ease-out 0s;
    -ms-transition: all .3s ease-out 0s;
    -o-transition: all .3s ease-out 0s;
    transition: all .3s ease-out 0s
}

a:focus,
.button:focus {
    text-decoration: none;
    outline: none
}

a {
    color: #635c5c
}

a:hover {
    color: #fff
}

a:focus,
a:hover {
    text-decoration: none
}

a,
button {
    color: #fff;
    outline: medium none
}

button:focus,
input:focus,
input:focus,
textarea,
textarea:focus {
    outline: 0
}

input:focus::-moz-placeholder {
    opacity: 0;
    -webkit-transition: .4s;
    -o-transition: .4s;
    transition: .4s
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    color: inherit
}

ul {
    margin: 0;
    padding: 0
}

li {
    list-style: none
}

.section-over1 {
    position: relative;
    z-index: 1
}

.section-over1::before {
    position: absolute;
    content: "";
    background-color: rgba(0, 9, 94, .4);
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    background-repeat: no-repeat
}

#back-top {
    background: #ff4495;
    height: 50px;
    width: 50px;
    right: 31px;
    bottom: 18px;
    position: fixed;
    color: #fff;
    font-size: 20px;
    text-align: center;
    border-radius: 50%;
    line-height: 48px;
    border: 2px solid transparent;
    box-shadow: 0 0 10px 3px rgba(108, 98, 98, .2)
}

@media (max-width:575px) {
    #back-top {
        right: 16px
    }
}

#back-top a i {
    display: block;
    line-height: 50px
}

.sticky-bar {
    left: 0;
    margin: auto;
    position: fixed;
    top: 0;
    width: 100%;
    -webkit-box-shadow: 0 10px 15px rgba(25, 25, 25, .1);
    box-shadow: 0 10px 15px rgba(25, 25, 25, .1);
    z-index: 9999;
    -webkit-animation: 300ms ease-in-out 0s normal none 1 running fadeInDown;
    animation: 300ms ease-in-out 0s normal none 1 running fadeInDown;
    -webkit-box-shadow: 0 10px 15px rgba(25, 25, 25, .1);
    background: #fff
}

@-webkit-keyframes heartbeat {
    to {
        -webkit-transform: scale(1.03);
        transform: scale(1.03)
    }
}

@keyframes rotateme {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

@-webkit-keyframes rotateme {
    from {
        -webkit-transform: rotate(0deg)
    }
    to {
        -webkit-transform: rotate(360deg)
    }
}

.preloader {
    background-color: #f7f7f7;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999999;
    -webkit-transition: .6s;
    -o-transition: .6s;
    transition: .6s;
    margin: 0 auto
}

@keyframes zoom {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .6s;
        -o-transition: .6s;
        transition: .6s
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
        -webkit-transition: .6s;
        -o-transition: .6s;
        transition: .6s
    }
}

.slick-initialized .slick-slide {
    outline: 0
}

.section-padding {
    padding-top: 120px;
    padding-bottom: 100px
}

@media only screen and (min-width:768px) and (max-width:991px) {
    .section-padding {
        padding-top: 100px;
        padding-bottom: 90px
    }
}

@media only screen and (min-width:576px) and (max-width:767px) {
    .section-padding {
        padding-top: 70px;
        padding-bottom: 40px
    }
}

@media (max-width:575px) {
    .section-padding {
        padding-top: 70px;
        padding-bottom: 40px
    }
}

.section-padding2 {
    padding-top: 130px;
    padding-bottom: 92px
}

@media only screen and (min-width:992px) and (max-width:1199px) {
    .section-padding2 {
        padding-top: 130px;
        padding-bottom: 92px
    }
}

@media only screen and (min-width:768px) and (max-width:991px) {
    .section-padding2 {
        padding-top: 130px;
        padding-bottom: 92px
    }
}

@media only screen and (min-width:576px) and (max-width:767px) {
    .section-padding2 {
        padding-top: 70px;
        padding-bottom: 0
    }
}

@media (max-width:575px) {
    .section-padding2 {
        padding-top: 70px;
        padding-bottom: 0
    }
}

.top-padding {
    padding-top: 120px
}

@media only screen and (min-width:768px) and (max-width:991px) {
    .top-padding {
        padding-top: 70px
    }
}

@media only screen and (min-width:576px) and (max-width:767px) {
    .top-padding {
        padding-top: 70px
    }
}

@media (max-width:575px) {
    .top-padding {
        padding-top: 70px
    }
}

.footer-padding {
    padding-top: 140px;
    padding-bottom: 10px
}

@media only screen and (min-width:576px) and (max-width:767px) {
    .footer-padding {
        padding-top: 80px;
        padding-bottom: 10px
    }
}

@media (max-width:575px) {
    .footer-padding {
        padding-top: 80px;
        padding-bottom: 10px
    }
    .section-tittle {
        margin-bottom: 50px
    }
}

@media only screen and (min-width:576px) and (max-width:767px) {
    .section-tittle {
        margin-bottom: 50px
    }
}

.section-tittle img {
    margin-bottom: 30px
}

.section-tittle span {
    font-family: "Josefin Sans", sans-serif;
    color: #ff4495;
    font-size: 16px;
    font-weight: 600;
    line-height: 1;
    margin-bottom: 19px;
    display: block;
    text-transform: capitalize;
    letter-spacing: 1
}

.section-tittle h2 {
    font-family: "Josefin Sans", sans-serif;
    color: #232f55;
    font-size: 46px;
    display: block;
    font-weight: 600;
    margin-bottom: 17px
}

@media only screen and (min-width:992px) and (max-width:1199px) {
    .section-tittle h2 {
        font-size: 36px
    }
}

@media (max-width:575px) {
    .section-tittle h2 {
        font-size: 28px
    }
}

.section-tittle p {
    font-size: 18px
}

.section-tittle.section-tittle2 {
    padding-bottom: 0
}

.section-tittle.section-tittle2 h2 {
    color: #fff
}

.section-tittle.section-tittle2 p {
    color: #fff
}

.section-tittle.section-tittle3 p {
    color: #fff
}

.section-tittle.section-tittle3 p a {
    color: #fff;
    font-family: "Josefin Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-decoration: underline
}

.section-tittle.section-tittle3 p a:hover {
    letter-spacing: .5px
}

.section-img-bg2 {
    background-size: cover;
    background-repeat: no-repeat
}

.gray-bg {
    background: #f6f9fc
}

.btn {
    font-family: "Mulish", sans-serif;
    text-transform: capitalize!important;
    padding: 17px 31px;
    color: #fff!important;
    cursor: pointer;
    display: inline-block;
    font-size: 16px!important;
    font-weight: 700!important;
    border-radius: 25px;
    line-height: 1;
    cursor: pointer;
    -moz-user-select: none;
    transition: color .4s linear;
    position: relative;
    z-index: 1;
    border: 0;
    overflow: hidden
}

.btn::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 101%;
    height: 101%;
    z-index: 1;
    border-radius: 5px;
    transition: transform .5s;
    transition-timing-function: ease;
    transform-origin: 0 0;
    transition-timing-function: cubic-bezier(.5, 1.6, .4, .7);
    transform: scaleY(0);
    border-radius: 0
}

.btn i {
    padding-right: 11px
}

.btn:hover {
    color: #fff!important
}

.btn:hover::before {
    transform: scaleY(1);
    z-index: -1
}

.border-btn {
    border: 1px solid #ff4495;
    color: #ff4495;
    background: none;
    text-transform: normal;
    padding: 13px 34px;
    -moz-user-select: none;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1px;
    position: relative;
    transition: color .4s linear;
    position: relative;
    overflow: hidden;
    border-radius: 25px;
    z-index: 1
}

.border-btn i {
    font-size: 16px;
    margin-right: 10px;
    color: #ff4495;
    -webkit-transition: all .3s ease-out 0s;
    -moz-transition: all .3s ease-out 0s;
    -ms-transition: all .3s ease-out 0s;
    -o-transition: all .3s ease-out 0s;
    transition: all .3s ease-out 0s
}

.border-btn::before {
    border: 1px solid transparent;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 101%;
    height: 101%;
    background: #232f5544a;
    z-index: -1;
    transition: transform .5s;
    transition-timing-function: ease;
    transform-origin: 0 0;
    transition-timing-function: cubic-bezier(.5, 1.6, .4, .7);
    transform: scaleY(0);
    border-radius: 0
}

.border-btn:hover {
    border: 1px solid #232f5;
}

.border-btn:hover::before {
    transform: scaleY(1);
    color: #fff
}

.border-btn2 {
    border: 2px solid #232f55;
    color: #232f55;
    font-family: "Josefin Sans", sans-serif;
    background: none;
    text-transform: normal;
    padding: 13px 34px!important;
    -moz-user-select: none;
    cursor: pointer;
    display: inline-block;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 1px;
    position: relative;
    transition: color .4s linear;
    position: relative;
    overflow: hidden;
    border-radius: 25px;
    z-index: 1
}

.border-btn2 i {
    font-size: 16px;
    margin-right: 10px;
    color: #fff;
    -webkit-transition: all .3s ease-out 0s;
    -moz-transition: all .3s ease-out 0s;
    -ms-transition: all .3s ease-out 0s;
    -o-transition: all .3s ease-out 0s;
    transition: all .3s ease-out 0s
}

.border-btn2::before {
    border: 1px solid transparent;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 102%;
    height: 102%;
    background: #fff;
    z-index: -1;
    transition: transform .5s;
    transition-timing-function: ease;
    transform-origin: 0 0;
    transition-timing-function: cubic-bezier(.5, 1.6, .4, .7);
    transform: scaleY(0);
    border-radius: 0
}

.border-btn2:hover {
    color: #ff4495
}

.border-btn2:hover i {
    color: #ff4495
}

.border-btn2:hover::before {
    transform: scaleY(1);
    border: 1px solid transparent;
    color: #fff
}

.header-btn2 {
    padding: 12px 21px!important
}

@media only screen and (min-width:768px) and (max-width:991px) {
    .header-btn2 {
        padding: 8px 15px!important;
        position: absolute;
        right: 13%;
        top: 18px
    }
}

@media only screen and (min-width:576px) and (max-width:767px) {
    .header-btn2 {
        padding: 8px 15px!important;
        position: absolute;
        right: 14%;
        top: 18px
    }
}

@media (max-width:575px) {
    .header-btn2 {
        padding: 8px 15px!important;
        position: absolute;
        right: 17px;
        top: 2px
    }
}

.hero-btn {
    padding: 17px 27px
}

.submit-btn {
    width: 100%;
    background: #232f5544a;
    font-family: "Mulish", sans-serif;
    text-transform: inherit!important;
    padding: 30px 43px;
    color: #fff!important;
    cursor: pointer;
    display: inline-block;
    font-size: 16px!important;
    font-weight: 500!important;
    border-radius: 5px;
    line-height: 1;
    line-height: 0;
    cursor: pointer;
    -moz-user-select: none;
    transition: color .4s linear;
    position: relative;
    z-index: 1;
    border: 0;
    overflow: hidden
}

.submit-btn::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 101%;
    height: 101%;
    background: #232f55;
    z-index: 1;
    border-radius: 5px;
    transition: transform .5s;
    transition-timing-function: ease;
    transform-origin: 0 0;
    transition-timing-function: cubic-bezier(.5, 1.6, .4, .7);
    transform: scaleX(0);
    border-radius: 0
}

.submit-btn:hover {
    color: #fff!important
}

.submit-btn:hover::before {
    transform: scaleX(1);
    z-index: -1
}

.submit-btn i {
    font-size: 20px;
    margin-right: 10px;
    color: #fff;
    -webkit-transition: all .3s ease-out 0s;
    -moz-transition: all .3s ease-out 0s;
    -ms-transition: all .3s ease-out 0s;
    -o-transition: all .3s ease-out 0s;
    transition: all .3s ease-out 0s
}

.white-btn {
    background: #fff;
    padding: 30px 42px;
    font-size: 17px;
    font-weight: 700;
    text-transform: capitalize;
    color: #ff4495;
    border-radius: 30px;
    cursor: pointer;
    display: inline-block;
    line-height: 0;
    -moz-user-select: none;
    cursor: pointer;
    transition: color .4s linear;
    position: relative;
    z-index: 1;
    border: 0;
    overflow: hidden
}

@media (max-width:575px) {
    .white-btn {
        padding: 25px 18px
    }
}

.white-btn::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 101%;
    height: 101%;
    background: #232f5544a;
    z-index: 1;
    border-radius: 5px;
    transition: transform .5s;
    transition-timing-function: ease;
    transform-origin: 0 0;
    transition-timing-function: cubic-bezier(.5, 1.6, .4, .7);
    transform: scaleX(0);
    border-radius: 0
}

.white-btn:hover {
    color: #fff!important
}

.white-btn:hover::before {
    transform: scaleX(1);
    z-index: -1
}

.btn_1 {
    background-color: #ff4495;
    border: 1px solid #ff4495;
    color: #fff!important;
    display: inline-block;
    padding: 16px 41px;
    text-transform: capitalize;
    line-height: 16px;
    margin-top: 32px;
    font-size: 13px
}

.btn_1:hover {
    background-color: #fff;
    border: 1px solid #ff4495;
    color: #ff4495!important
}

.btn.focus,
.btn:focus {
    outline: 0;
    box-shadow: none
}

.btn.focus,
.btn:focus {
    outline: 0;
    box-shadow: none
}

.boxed-btn2 {
    padding: 4px 20px!important
}

@media only screen and (min-width:1200px) and (max-width:1600px) {
    .header-area .main-header {
        padding: 0 30px
    }
}

@media only screen and (min-width:992px) and (max-width:1199px) {
    .header-area .main-header {
        padding: 0 15px
    }
}

@media only screen and (min-width:768px) and (max-width:991px) {
    .header-area .main-header {
        padding: 9px 0;
        -webkit-box-shadow: 0 2px 10px rgba(25, 25, 25, .1)
    }
}

@media only screen and (min-width:576px) and (max-width:767px) {
    .header-area .main-header {
        padding: 9px 0;
        -webkit-box-shadow: 0 2px 10px rgba(25, 25, 25, .1)
    }
}

@media (max-width:575px) {
    .header-area .main-header {
        padding: 9px 0;
        -webkit-box-shadow: 0 2px 10px rgba(25, 25, 25, .1)
    }
    .header-area .main-header.header-sticky.sticky-bar .button-header {
        display: none!important
    }
}

@media only screen and (min-width:992px) and (max-width:1199px) {
    .header-area .main-header .logo {
        margin-right: 0
    }
}

.header-area .main-header .main-menu {
    margin-left: 30px
}

.header-area .main-header .main-menu ul li {
    display: inline-block;
    position: relative;
    z-index: 1;
    margin: 0 14px
}

@media only screen and (min-width:1200px) and (max-width:1600px) {
    .header-area .main-header .main-menu ul li {
        margin: 0 14px
    }
}

@media only screen and (min-width:992px) and (max-width:1199px) {
    .header-area .main-header .main-menu ul li {
        margin: 0 8px
    }
}

.header-area .main-header .main-menu ul li a {
    font-family: "Josefin Sans", sans-serif;
    color: #232f55;
    font-weight: 600;
    padding: 38px 5px;
    display: block;
    font-size: 15px;
    -webkit-transition: all .3s ease-out 0s;
    -moz-transition: all .3s ease-out 0s;
    -ms-transition: all .3s ease-out 0s;
    -o-transition: all .3s ease-out 0s;
    transition: all .3s ease-out 0s;
    position: relative
}

.header-area .main-header .main-menu ul li a::after {
    content: "";
    position: absolute;
    width: 0;
    bottom: 27px;
    right: 5px;
    left: -5px;
    height: 3px;
    z-index: 1;
    -webkit-transition: all .4s ease-out 0s;
    -moz-transition: all .4s ease-out 0s;
    -ms-transition: all .4s ease-out 0s;
    -o-transition: all .4s ease-out 0s;
    transition: all .4s ease-out 0s;
    background: #fff
}

.header-area .main-header .main-menu ul li:hover>a {
    color: #007bff;
}

.header-area .main-header .main-menu ul li:hover>a::after {
    left: 0;
    right: auto;
    width: 100%;
    -webkit-transition: all .4s ease-out 0s;
    -moz-transition: all .4s ease-out 0s;
    -ms-transition: all .4s ease-out 0s;
    -o-transition: all .4s ease-out 0s;
    transition: all .4s ease-out 0s
}

.header-area .main-header .main-menu ul ul.submenu {
    position: absolute;
    width: 170px;
    background: #fff;
    left: 0;
    top: 90%;
    visibility: hidden;
    opacity: 0;
    box-shadow: 0 0 10px 3px rgba(0, 0, 0, .05);
    padding: 17px 0;
    -webkit-transition: all .3s ease-out 0s;
    -moz-transition: all .3s ease-out 0s;
    -ms-transition: all .3s ease-out 0s;
    -o-transition: all .3s ease-out 0s;
    transition: all .3s ease-out 0s
}

.header-area .main-header .main-menu ul ul.submenu>li {
    margin-left: 7px;
    display: block
}

.header-area .main-header .main-menu ul ul.submenu>li>a {
    padding: 6px 10px!important;
    font-size: 16px;
    color: #232f55;
    text-transform: capitalize
}

.header-area .main-header .main-menu ul ul.submenu>li>a::after {
    position: unset
}

.header-area .main-header .main-menu ul ul.submenu>li>a:hover {
    color: #232f55;
    background: none;
    padding-left: 13px!important
}

.header-area .main-header ul>li:hover>ul.submenu {
    visibility: visible;
    opacity: 1;
    top: 100%
}

.header-transparent {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 9
}

.header-sticky.sticky-bar .main-menu ul li a {
    padding: 25px 5px!important
}

.header-sticky.sticky-bar .main-menu ul li a::after {
    bottom: 16px
}

@media only screen and (min-width:768px) and (max-width:991px) {
    .header-sticky.sticky-bar {
        padding: 9px 0
    }
}

@media only screen and (min-width:576px) and (max-width:767px) {
    .header-sticky.sticky-bar {
        padding: 9px 0
    }
}

@media (max-width:575px) {
    .header-sticky.sticky-bar {
        padding: 9px 0
    }
}

.mobile_menu {
    position: absolute;
    right: 0;
    width: 100%;
    z-index: 99
}

.slider-area {
    margin-top: -1px
}

.slider-area .hero-caption {
    position: relative;
    z-index: 2
}

@media only screen and (min-width:768px) and (max-width:991px) {
    .slider-area .hero-caption {
        padding-top: 74px
    }
}

@media only screen and (min-width:576px) and (max-width:767px) {
    .slider-area .hero-caption {
        padding-top: 27px
    }
}

@media (max-width:575px) {
    .slider-area .hero-caption {
        padding-top: 65px
    }
}

.slider-area .hero-caption span {
    font-family: "Mulish", sans-serif;
    color: #fff;
    font-size: 24px;
    font-weight: 400;
    display: inline-block;
    margin-bottom: 20px;
    line-height: 1.3
}

@media only screen and (min-width:768px) and (max-width:991px) {
    .slider-area .hero-caption span {
        font-size: 24px
    }
}

@media only screen and (min-width:576px) and (max-width:767px) {
    .slider-area .hero-caption span {
        font-size: 33px
    }
}

@media (max-width:575px) {
    .slider-area .hero-caption span {
        font-size: 18px
    }
}

.slider-area .hero-caption h1 {
    color: #232f55;
    font-family: "Josefin Sans", sans-serif;
    font-size: 64px;
    font-weight: 400;
    line-height: 1.3;
    margin-bottom: 10px
}

@media only screen and (min-width:992px) and (max-width:1199px) {
    .slider-area .hero-caption h1 {
        font-size: 47px
    }
}

@media only screen and (min-width:768px) and (max-width:991px) {
    .slider-area .hero-caption h1 {
        font-size: 34px
    }
}

@media only screen and (min-width:576px) and (max-width:767px) {
    .slider-area .hero-caption h1 {
        font-size: 51px
    }
}

@media (max-width:575px) {
    .slider-area .hero-caption h1 {
        font-size: 33px;
        margin-bottom: 20px
    }
}

.slider-area .hero-caption p {
    margin-bottom: 29px;
    padding-right: 16px;
    color: #232f55;
    font-size: 18px
}

@media only screen and (min-width:768px) and (max-width:991px) {
    .slider-area .hero-caption p {
        padding-right: 0
    }
}

@media only screen and (min-width:576px) and (max-width:767px) {
    .slider-area .hero-caption p {
        padding-right: 0
    }
}

@media (max-width:575px) {
    .slider-area .hero-caption p {
        margin-bottom: 32px;
        padding-right: 0;
        font-size: 18px
    }
}

.slider-area .hero-caption.hero-caption2 {
    padding-top: 95px
}

.slider-area .hero-caption.hero-caption2 h2 {
    color: #232f55;
    font-size: 64px;
    display: block;
    font-weight: 600;
    line-height: 1.4;
    margin-bottom: 10px
}

@media only screen and (min-width:768px) and (max-width:991px) {
    .slider-area .hero-caption.hero-caption2 h2 {
        margin-bottom: 20px;
        font-size: 43px
    }
}

@media only screen and (min-width:576px) and (max-width:767px) {
    .slider-area .hero-caption.hero-caption2 h2 {
        margin-bottom: 20px
    }
}

@media (max-width:575px) {
    .slider-area .hero-caption.hero-caption2 h2 {
        margin-bottom: 20px;
        font-size: 44px
    }
}

.slider-area .hero-caption.hero-caption2 p {
    margin-bottom: 0;
    color: #232f55;
    font-size: 18px;
    line-height: 1.6
}

@media (max-width:575px) {
    .slider-area .hero-caption.hero-caption2 p {
        font-size: 18px
    }
}

.slider-area .hero-shape {
    position: absolute;
    top: -57%;
    right: -146px
}

@media only screen and (min-width:1200px) and (max-width:1400px) {
    .slider-area .hero-shape {
        top: -17%;
        right: 1%
    }
}

@media (min-width:1401px) and (max-width:1600px) {
    .slider-area .hero-shape {
        top: -17%;
        right: -7%
    }
}

@media only screen and (min-width:992px) and (max-width:1199px) {
    .slider-area .hero-shape {
        top: -31%;
        right: -7px
    }
}

@media only screen and (min-width:768px) and (max-width:991px) {
    .slider-area .hero-shape {
        top: 4%;
        right: -7px
    }
}

.slider-area .hero-shape img {
    width: 1158px;
    height: 669px
}

@media only screen and (min-width:1200px) and (max-width:1400px) {
    .slider-area .hero-shape img {
        width: 1011px;
        height: 559px
    }
}

@media (min-width:1401px) and (max-width:1600px) {
    .slider-area .hero-shape img {
        width: 1011px;
        height: 559px
    }
}

@media only screen and (min-width:1601px) and (max-width:1800px) {
    .slider-area .hero-shape img {
        width: 1158px;
        height: 669px
    }
}

@media only screen and (min-width:992px) and (max-width:1199px) {
    .slider-area .hero-shape img {
        width: 809px;
        height: 480px
    }
}

@media only screen and (min-width:768px) and (max-width:991px) {
    .slider-area .hero-shape img {
        width: 628px;
        height: 369px
    }
}

@media only screen and (min-width:576px) and (max-width:767px) {
    .slider-area .hero-shape img {
        width: 1158px;
        height: 669px;
        display: none
    }
}

@media (max-width:575px) {
    .slider-area .hero-shape img {
        width: 1158px;
        height: 669px;
        display: none
    }
}

.slider-height {
    height: 900px;
    background-repeat: no-repeat;
    background-position: center center
}

@media only screen and (min-width:1200px) and (max-width:1600px) {
    .slider-height {
        height: 700px
    }
}

@media only screen and (min-width:992px) and (max-width:1199px) {
    .slider-height {
        height: 700px
    }
}

@media only screen and (min-width:768px) and (max-width:991px) {
    .slider-height {
        height: 500px
    }
}

@media only screen and (min-width:576px) and (max-width:767px) {
    .slider-height {
        height: 580px
    }
}

@media (max-width:575px) {
    .slider-height {
        height: 468px
    }
}

.slider-height2 {
    height: 413px;
    background-repeat: no-repeat;
    background-position: center center
}

@media only screen and (min-width:992px) and (max-width:1199px) {
    .slider-height2 {
        height: 400px
    }
}

@media only screen and (min-width:768px) and (max-width:991px) {
    .slider-height2 {
        height: 400px
    }
}

@media only screen and (min-width:576px) and (max-width:767px) {
    .slider-height2 {
        height: 400px
    }
}

@media (max-width:575px) {
    .slider-height2 {
        /* height: 350px */
        height: 950px;
        width: 30%;
    }
}

.services-area2 .single-cat {
    box-shadow: 0 10px 16px rgba(84, 0, 0, .06);
    padding: 50px 36px 39px 36px;
    border: 1px solid rgba(255, 255, 255, .2);
    -webkit-transition: all .4s ease-out 0s;
    -moz-transition: all .4s ease-out 0s;
    -ms-transition: all .4s ease-out 0s;
    -o-transition: all .4s ease-out 0s;
    transition: all .4s ease-out 0s;
    z-index: 1
}

@media only screen and (min-width:576px) and (max-width:767px) {
    .services-area2 .single-cat {
        margin-bottom: 40px
    }
}

@media (max-width:575px) {
    .services-area2 .single-cat {
        margin-bottom: 30px
    }
}

.services-area2 .single-cat .cat-icon img {
    margin: 0 auto;
    margin-bottom: 30px;
    position: relative;
    top: 0;
    -webkit-transition: all .4s ease-out 0s;
    -moz-transition: all .4s ease-out 0s;
    -ms-transition: all .4s ease-out 0s;
    -o-transition: all .4s ease-out 0s;
    transition: all .4s ease-out 0s
}

.services-area2 .single-cat .cat-cap span {
    color: #ffff;
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 15px;
    display: block
}

.services-area2 .single-cat .cat-cap h5>a {
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 14px;
    display: block;
    color: #ffff;
    line-height: 1.4;
    -webkit-transition: all .2s ease-out 0s;
    -moz-transition: all .2s ease-out 0s;
    -ms-transition: all .2s ease-out 0s;
    -o-transition: all .2s ease-out 0s;
    transition: all .2s ease-out 0s
}

@media only screen and (min-width:992px) and (max-width:1199px) {
    .services-area2 .single-cat .cat-cap h5>a {
        font-size: 18px
    }
}

@media only screen and (min-width:576px) and (max-width:767px) {
    .services-area2 .single-cat .cat-cap h5>a {
        font-size: 21px
    }
}

@media (max-width:575px) {
    .services-area2 .single-cat .cat-cap h5>a {
        font-size: 23px
    }
}

.services-area2 .single-cat .cat-cap p {
    color: #7f85a8;
    font-size: 16px;
    -webkit-transition: all .2s ease-out 0s;
    -moz-transition: all .2s ease-out 0s;
    -ms-transition: all .2s ease-out 0s;
    -o-transition: all .2s ease-out 0s;
    transition: all .2s ease-out 0s;
    line-height: 1.6
}

@media only screen and (min-width:576px) and (max-width:767px) {
    .services-area2 .single-cat .cat-cap p {
        font-size: 15px
    }
}

.services-area2 .single-cat .cat-cap a {
    color: #1c165c;
    font-size: 16px;
    font-weight: 600;
    -webkit-transition: all .2s ease-out 0s;
    -moz-transition: all .2s ease-out 0s;
    -ms-transition: all .2s ease-out 0s;
    -o-transition: all .2s ease-out 0s;
    transition: all .2s ease-out 0s
}

.services-area2 .single-cat .cat-cap input {
    padding: 10px 29px;
    width: 100%;
    height: 45px;
    margin-bottom: 12px;
    color: #725f5f;
    border: 1px solid #a80000;
    text-align: center
}

.services-area2 .single-cat:hover {
    background: rgba(255, 255, 255, .06);
    border: 1px solid transparent
}

.services-area2 .single-cat:hover .cat-icon img {
    position: relative;
    top: -5px
}

.services-area2 .single-cat:hover .cat-cap h5 {
    color: #232f55
}

.categories-area .single-cat {
    background: #fff;
    border-radius: 0;
    padding: 40px 21px;
    -webkit-transition: all .4s ease-out 0s;
    -moz-transition: all .4s ease-out 0s;
    -ms-transition: all .4s ease-out 0s;
    -o-transition: all .4s ease-out 0s;
    transition: all .4s ease-out 0s;
    position: relative;
    z-index: 1;
    border-radius: 5px
}

.categories-area .single-cat::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 0;
    transition: .6s;
    bottom: 0;
    left: 0;
    z-index: -1;
    border-radius: 5px
}

.categories-area .single-cat .cat-icon {
    color: #ff4495;
    font-size: 50px;
    margin-bottom: 30px;
    display: block;
    margin-bottom: 50px;
    width: 120px;
    height: 120px;
    background: #fff;
    line-height: 100px;
    text-align: center;
    border-radius: 50%;
    display: inline-block;
    box-shadow: 0 15px 25px rgba(0, 4, 74, .04)
}

.categories-area .single-cat .cat-cap h5>a {
    color: #232f55;
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 21px;
    display: block;
    -webkit-transition: all .2s ease-out 0s;
    -moz-transition: all .2s ease-out 0s;
    -ms-transition: all .2s ease-out 0s;
    -o-transition: all .2s ease-out 0s;
    transition: all .2s ease-out 0s
}

@media only screen and (min-width:576px) and (max-width:767px) {
    .categories-area .single-cat .cat-cap h5>a {
        font-size: 21px
    }
}

@media (max-width:575px) {
    .categories-area .single-cat .cat-cap h5>a {
        font-size: 21px
    }
}

.categories-area .single-cat .cat-cap p {
    margin-bottom: 36px;
    color: #3f4854;
    font-size: 16px;
    -webkit-transition: all .2s ease-out 0s;
    -moz-transition: all .2s ease-out 0s;
    -ms-transition: all .2s ease-out 0s;
    -o-transition: all .2s ease-out 0s;
    transition: all .2s ease-out 0s;
    margin: 0
}

@media only screen and (min-width:576px) and (max-width:767px) {
    .categories-area .single-cat .cat-cap p {
        font-size: 15px
    }
}

.categories-area .single-cat .cat-cap a {
    color: #1c165c;
    font-size: 16px;
    font-weight: 600;
    -webkit-transition: all .2s ease-out 0s;
    -moz-transition: all .2s ease-out 0s;
    -ms-transition: all .2s ease-out 0s;
    -o-transition: all .2s ease-out 0s;
    transition: all .2s ease-out 0s
}

.categories-area .single-cat:hover {
    -webkit-box-shadow: 0 20px 30px rgba(35, 47, 85, .1)
}

.categories-area .single-cat:hover::before {
    height: 100%
}

.categories-area .single-cat:hover .cat-icon span {
    background: #fff
}

.categories-area .single-cat:hover .cat-cap h5 {
    color: #fff
}

.categories-area .single-cat:hover .cat-cap p {
    color: #fff
}

.categories-area .single-cat:hover .cat-cap a {
    color: #fff
}

@media only screen and (min-width:768px) and (max-width:991px) {
    .count-down-area {
        padding-bottom: 60px;
        padding-top: 60px
    }
}

@media only screen and (min-width:576px) and (max-width:767px) {
    .count-down-area {
        adding-bottom: 0;
        padding-top: 60px
    }
}

@media (max-width:575px) {
    .count-down-area {
        padding-bottom: 0;
        padding-top: 50px
    }
}

.count-down-area .count-down-wrapper {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center
}

.count-down-area .count-down-wrapper .single-counter {
    margin-bottom: 10px
}

.count-down-area .count-down-wrapper .single-counter .counter {
    color: #132e43;
    font-size: 64px;
    font-weight: 600;
    font-family: "Josefin Sans", sans-serif;
    line-height: 1;
    margin-bottom: 12px;
    display: inline-block;
    text-transform: uppercase
}

@media (max-width:575px) {
    .count-down-area .count-down-wrapper .single-counter .counter {
        font-size: 40px
    }
}

.count-down-area .count-down-wrapper .single-counter p {
    color: #132e43;
    font-size: 64px;
    font-weight: 700;
    line-height: 1;
    margin: 0;
    padding: 0;
    display: inline-block;
    font-family: "Josefin Sans", sans-serif
}

@media (max-width:575px) {
    .count-down-area .count-down-wrapper .single-counter p {
        font-size: 40px
    }
}

.count-down-area .count-down-wrapper .pera-count h5 {
    color: #131933;
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 11px;
    font-family: "Mulish", sans-serif
}

.count-down-area .count-down-wrapper .pera-count p {
    color: #132e43;
    font-size: 18px;
    line-height: 1.4
}

@media only screen and (min-width:992px) and (max-width:1199px) {
    .count-down-area .count-down-wrapper .pera-count p {
        font-size: 17px
    }
}

@media only screen and (min-width:576px) and (max-width:767px) {
    .count-down-area .count-down-wrapper .pera-count p {
        font-size: 17px
    }
}

.collection {
    padding-top: 140px;
    padding-bottom: 140px
}

@media only screen and (min-width:992px) and (max-width:1199px) {
    .collection {
        padding-top: 140px;
        padding-bottom: 140px
    }
}

@media only screen and (min-width:768px) and (max-width:991px) {
    .collection {
        padding-top: 140px;
        padding-bottom: 140px
    }
}

@media only screen and (min-width:576px) and (max-width:767px) {
    .collection {
        padding-top: 100px;
        padding-bottom: 100px
    }
}

@media (max-width:575px) {
    .collection {
        padding-top: 90px;
        padding-bottom: 80px
    }
}

.collection .single-question h2 {
    color: #fff;
    font-size: 46px;
    margin-bottom: 32px;
    line-height: 1.2
}

@media only screen and (min-width:576px) and (max-width:767px) {
    .collection .single-question h2 {
        font-size: 38px
    }
}

@media (max-width:575px) {
    .collection .single-question h2 {
        font-size: 26px
    }
}

.video-icon a {
    color: #ff6162;
    width: 80px;
    height: 80px;
    display: inline-block;
    text-align: center;
    line-height: 80px;
    border-radius: 50%
}

@media only screen and (min-width:576px) and (max-width:767px) {
    .video-icon a {
        width: 60px;
        height: 60px;
        line-height: 60px
    }
}

@media (max-width:575px) {
    .video-icon a {
        width: 60px;
        height: 60px;
        line-height: 60px
    }
}

.video-icon a i {
    color: #fff;
    font-size: 30px;
    line-height: 1;
    position: relative;
    right: -2px;
    top: 5px
}

.video-icon a.btn-icon {
    position: relative
}

.video-icon a.btn-icon::before {
    content: '';
    display: inline-block;
    position: absolute;
    top: -2px;
    left: -2px;
    bottom: -2px;
    right: -2px;
    border-radius: inherit;
    border: 1px solid #fff;
    -webkit-animation: btnIconRipple 2s cubic-bezier(.23, 1, .32, 1) both infinite;
    animation: btnIconRipple 2s cubic-bezier(.23, 1, .32, 1) both infinite
}

.video-icon a.btn-icon:hover {
    color: #fff
}

.great-stuffs .single-location {
    position: relative
}

.great-stuffs .single-location h3 a {
    color: #232f55;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 0;
    padding-top: 30px;
    display: block
}

@media only screen and (min-width:992px) and (max-width:1199px) {
    .great-stuffs .single-location h3 a {
        font-size: 19px
    }
}

@media only screen and (min-width:768px) and (max-width:991px) {
    .great-stuffs .single-location h3 a {
        font-size: 19px
    }
}

@media only screen and (min-width:576px) and (max-width:767px) {
    .great-stuffs .single-location h3 a {
        font-size: 19px
    }
}

@media (max-width:575px) {
    .great-stuffs .single-location h3 a {
        font-size: 19px
    }
}

.great-stuffs .single-location .location-img {
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    z-index: 0
}

.great-stuffs .single-location .location-img::before {
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    content: "";
    background: rgba(0, 9, 94, .4);
    z-index: 1;
    -webkit-transition: all .4s ease-out 0s;
    -moz-transition: all .4s ease-out 0s;
    -ms-transition: all .4s ease-out 0s;
    -o-transition: all .4s ease-out 0s;
    transition: all .4s ease-out 0s
}

.great-stuffs .single-location .location-img img {
    width: 100%;
    transform: scale(1);
    -webkit-transition: all .4s ease-out 0s;
    -moz-transition: all .4s ease-out 0s;
    -ms-transition: all .4s ease-out 0s;
    -o-transition: all .4s ease-out 0s;
    transition: all .4s ease-out 0s
}

.great-stuffs .single-location .location-details {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    text-align: center;
    margin: 0 auto;
    z-index: 2;
    -webkit-transition: all .4s ease-out 0s;
    -moz-transition: all .4s ease-out 0s;
    -ms-transition: all .4s ease-out 0s;
    -o-transition: all .4s ease-out 0s;
    transition: all .4s ease-out 0s
}

.great-stuffs .single-location .location-details .location-btn {
    width: 23px;
    height: 23px;
    background: #fff;
    color: #fff;
    border-radius: 30px;
    display: block;
    text-align: center;
    margin: 0 auto;
    -webkit-transition: all .4s ease-out 0s;
    -moz-transition: all .4s ease-out 0s;
    -ms-transition: all .4s ease-out 0s;
    -o-transition: all .4s ease-out 0s;
    transition: all .4s ease-out 0s
}

.great-stuffs .single-location .location-details h4 {
    color: #fff;
    font-size: 27px;
    font-weight: 700;
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 0;
    line-height: 1;
    margin-top: 8px
}

@media (max-width:575px) {
    .great-stuffs .single-location .location-details h4 {
        font-size: 18px;
        line-height: 1.1
    }
}

.great-stuffs .single-location .location-details p {
    color: #fff;
    font-size: 8px;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin: 0;
    line-height: 1
}

.great-stuffs .single-location .location-details img {
    width: unset
}

.great-stuffs .single-location:hover .location-btn {
    background: #fff
}

.great-stuffs .single-location:hover .location-img img {
    transform: scale(1.05)
}

.great-stuffs .single-location:hover .location-img::before {
    background: rgba(255, 68, 149, .7)
}

.about-area2 .about-img img {
    width: 100%;
    box-shadow: 0 20px 30px rgba(35, 47, 85, .1)
}

@media only screen and (min-width:768px) and (max-width:991px) {
    .about-area2 .about-img img {
        margin-bottom: 50px
    }
}

@media only screen and (min-width:576px) and (max-width:767px) {
    .about-area2 .about-img img {
        margin-bottom: 50px
    }
}

@media (max-width:575px) {
    .about-area2 .about-img img {
        margin-bottom: 50px
    }
    .about-caption {
        margin-bottom: 35px
    }
}

.single-offers {
    padding-left: 113px
}

@media (max-width:575px) {
    .single-offers {
        padding-left: 0
    }
}

.single-offers .offers-cap {
    position: relative
}

.single-offers .offers-cap img {
    position: absolute;
    top: 7px;
    left: -110px;
    text-align: center
}

@media (max-width:575px) {
    .single-offers .offers-cap img {
        position: unset;
        margin-bottom: 15px
    }
}

.single-offers .offers-cap h3 a {
    color: #232f55;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.5;
    margin-bottom: 16px;
    -webkit-transition: all .4s ease-out 0s;
    -moz-transition: all .4s ease-out 0s;
    -ms-transition: all .4s ease-out 0s;
    -o-transition: all .4s ease-out 0s;
    transition: all .4s ease-out 0s
}

@media only screen and (min-width:576px) and (max-width:767px) {
    .single-offers .offers-cap h3 a {
        font-size: 29px
    }
}

.single-offers .offers-cap h3 a:hover {
    color: #232f55
}

.single-offers .offers-cap p {
    color: #101a31;
    margin-bottom: 30px;
    font-size: 16px
}

@media only screen and (min-width:768px) and (max-width:991px) {
    .single-offers .offers-cap p {
        font-size: 22px
    }
}

@media only screen and (min-width:576px) and (max-width:767px) {
    .single-offers .offers-cap p {
        font-size: 22px
    }
}

.single-offers .offers-cap a i {
    transform: rotate(45deg);
    display: inline-block;
    color: #fff;
    font-size: 27px;
    font-weight: 600;
    -webkit-transition: all .4s ease-out 0s;
    -moz-transition: all .4s ease-out 0s;
    -ms-transition: all .4s ease-out 0s;
    -o-transition: all .4s ease-out 0s;
    transition: all .4s ease-out 0s
}

.ratting-point {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    box-shadow: 0 20px 30px rgba(0, 0, 0, .06);
    border-radius: 7px;
    background: #fff;
    padding: 25px 22px;
    position: absolute;
    bottom: 31%;
    z-index: 1;
    right: -26%
}

@media only screen and (min-width:992px) and (max-width:1199px) {
    .ratting-point {
        padding: 18px 14px;
        right: -12%
    }
}

@media only screen and (min-width:768px) and (max-width:991px) {
    .ratting-point {
        padding: 18px 14px;
        bottom: 10%;
        right: 0;
        left: 0;
        margin: 0 30px
    }
}

@media only screen and (min-width:576px) and (max-width:767px) {
    .ratting-point {
        padding: 18px 14px;
        bottom: 10%;
        right: 0;
        left: 0;
        margin: 0 30px
    }
}

@media (max-width:575px) {
    .ratting-point {
        padding: 18px 14px;
        bottom: 10%;
        right: 0;
        left: 0;
        margin: 0 30px
    }
    .ratting-point .features-ratting {
        margin-bottom: 12px
    }
}

.ratting-point .features-ratting h3 {
    font-size: 44px;
    font-weight: 700;
    border-right: 1px solid #efefef;
    padding: 18px 16px 15px 20px;
    margin-right: 7px
}

@media only screen and (min-width:992px) and (max-width:1199px) {
    .ratting-point .features-ratting h3 {
        border-right: 0
    }
}

@media (max-width:575px) {
    .ratting-point .features-ratting h3 {
        border-right: 0;
        padding: 0 16px 15px 20px
    }
}

.ratting-point .features-caption {
    padding-left: 19px
}

.ratting-point .features-caption h3 {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 8px
}

.ratting-point .features-caption p {
    font-size: 16px;
    line-height: 1.2;
    color: #6f7781;
    margin-bottom: 0
}

@media only screen and (min-width:992px) and (max-width:1199px) {
    .ratting-point .features-caption p {
        font-size: 15px
    }
}

@media (max-width:575px) {
    .ratting-point .features-caption p {
        font-size: 15px
    }
}

.footer-wrapper {
    position: relative
}

.footer-area .footer-pera p {
    color: #232f55;
    font-size: 16px;
    margin-bottom: 19px;
    line-height: 1.8
}

.footer-area .footer-tittle h4 {
    color: #232f55;
    font-size: 20px;
    margin-bottom: 30px;
    font-weight: 400
}

.footer-area .footer-tittle ul li {
    margin-bottom: 15px
}

.footer-area .footer-tittle ul li a {
    color: #232f55;
    font-weight: 300;
    font-size: 16px;
    text-decoration: underline transparent
}

.footer-area .footer-tittle ul li a:hover {
    color: #232f55;
    text-decoration: underline
}

.footer-area .footer-tittle ul li span {
    color: red
}

.footer-area .footer-tittle p {
    color: #232f55;
    font-size: 16px
}

.footer-area .footer-form form {
    position: relative
}

.footer-area .footer-form form input {
    width: 100%;
    height: 50px;
    padding: 10px 20px;
    border: 1px solid #232f55;
    border-radius: 30px;
    background: none;
    color: #232f55
}

.footer-area .footer-form form input::placeholder {
    color: #232f55;
    font-size: 16px
}

.footer-area .footer-form form .form-icon button {
    position: absolute;
    top: 0;
    right: 0;
    background: none;
    border: 0;
    cursor: pointer;
    padding: 17px 22px;
    line-height: 1;
    border-radius: 0 3px 3px 0
}

.footer-area .footer-form form .form-icon button i {
    color: #232f55
}

.footer-area .info.error {
    color: #ff4495
}

.footer-bottom-area .footer-border {
    padding-top: 39px;
    padding-bottom: 1px
}

@media only screen and (min-width:768px) and (max-width:991px) {
    .footer-bottom-area .footer-border {
        padding-top: 0
    }
}

@media only screen and (min-width:576px) and (max-width:767px) {
    .footer-bottom-area .footer-border {
        padding-top: 0
    }
}

@media (max-width:575px) {
    .footer-bottom-area .footer-border {
        padding-top: 0
    }
}

.footer-bottom-area .footer-copy-right p {
    color: #232f55;
    font-weight: 400;
    font-size: 14px;
    line-height: 2
}

.footer-bottom-area .footer-copy-right p i {
    color: #ff4495
}

.footer-bottom-area .footer-copy-right p a {
    color: #ff4495
}

.footer-social a {
    color: #232f55;
    font-size: 24px;
    display: inline-block;
    text-align: center;
    margin-right: 24px
}

.footer-social a i {
    -webkit-transition: all .4s ease-out 0s;
    -moz-transition: all .4s ease-out 0s;
    -ms-transition: all .4s ease-out 0s;
    -o-transition: all .4s ease-out 0s;
    transition: all .4s ease-out 0s;
    display: inline-block;
    transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    -o-transform: rotateY(0deg)
}

.footer-social a:hover {
    color: #ff4495;
    background: #fff
}

.footer-social a:hover i {
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg)
}

.number a {
    font-family: "Josefin Sans", sans-serif;
    font-size: 24px!important;
    color: #232f55!important;
    margin-bottom: 12px;
    display: block
}

@media only screen and (min-width:768px) and (max-width:991px) {
    .number a {
        font-size: 19px!important
    }
}

.number2 a {
    font-family: "Josefin Sans", sans-serif;
    font-size: 14px!important;
    color: #232f55!important;
    margin-bottom: 23px;
    display: block;
    text-decoration: underline
}

@media only screen and (min-width:768px) and (max-width:991px) {
    .number2 a {
        font-size: 19px!important
    }
}

.blog_area a {
    color: "Josefin Sans", sans-serif!important;
    text-decoration: none;
    transition: .4s
}

.blog_area a:hover,
.blog_area a :hover {
    /* background: -webkit-linear-gradient(131deg, #ff4495 0%, #ff4495 99%); */
    background: #ffff;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-decoration: none;
    transition: .4s
}

.blog_item {
    margin-bottom: 50px
}

.blog_details {
    padding: 30px 0 20px 10px;
    box-shadow: 0 10px 20px 0 rgba(221, 221, 221, .3)
}

@media (min-width:768px) {
    .blog_details {
        padding: 60px 30px 35px 35px
    }
}

.blog_details p {
    margin-bottom: 30px
}

.blog_details a {
    color: #080808
}

.blog_details a:hover {
    color: #232f5544a
}

.blog_details h2 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 8px
}

@media (min-width:768px) {
    .blog_details h2 {
        font-size: 24px;
        margin-bottom: 15px
    }
}

.blog-info-link li {
    float: left;
    font-size: 14px
}

.blog-info-link li a {
    color: #999
}

.blog-info-link li i,
.blog-info-link li span {
    font-size: 13px;
    margin-right: 5px
}

.blog-info-link li::after {
    content: "|";
    padding-left: 10px;
    padding-right: 10px
}

.blog-info-link li:last-child::after {
    display: none
}

.blog-info-link::after {
    content: "";
    display: block;
    clear: both;
    display: table
}

.blog_item_img {
    position: relative
}

.blog_item_img .blog_item_date {
    position: absolute;
    bottom: -10px;
    left: 10px;
    display: block;
    color: #fff;
    background-color: #ff4495;
    padding: 8px 15px;
    border-radius: 5px
}

@media (min-width:768px) {
    .blog_item_img .blog_item_date {
        bottom: -20px;
        left: 40px;
        padding: 13px 30px
    }
}

.blog_item_img .blog_item_date h3 {
    font-size: 22px;
    font-weight: 600;
    color: #fff;
    margin-bottom: 0;
    line-height: 1.2
}

@media (min-width:768px) {
    .blog_item_img .blog_item_date h3 {
        font-size: 30px
    }
}

.blog_item_img .blog_item_date p {
    font-size: 18px;
    margin-bottom: 0;
    color: #fff
}

@media (min-width:768px) {
    .blog_item_img .blog_item_date p {
        font-size: 18px
    }
}

.blog_right_sidebar .widget_title {
    font-size: 20px;
    margin-bottom: 40px
}

.blog_right_sidebar .widget_title::after {
    content: "";
    display: block;
    padding-top: 15px;
    border-bottom: 1px solid #f0e9ff
}

.blog_right_sidebar .single_sidebar_widget {
    background: #fbf9ff;
    padding: 30px;
    margin-bottom: 30px
}

.blog_right_sidebar .single_sidebar_widget .btn_1 {
    margin-top: 0
}

.blog_right_sidebar .search_widget .form-control {
    height: 50px;
    border-color: #f0e9ff;
    font-size: 13px;
    color: #999;
    padding-left: 20px;
    border-radius: 0;
    border-right: 0
}

.blog_right_sidebar .search_widget .form-control::placeholder {
    color: #999
}

.blog_right_sidebar .search_widget .form-control:focus {
    border-color: #f0e9ff;
    outline: 0;
    box-shadow: none
}

.blog_right_sidebar .search_widget .input-group button {
    background: #ff4495;
    border-left: 0;
    border: 1px solid #f0e9ff;
    padding: 4px 15px;
    border-left: 0;
    cursor: pointer
}

.blog_right_sidebar .search_widget .input-group button i {
    color: #fff
}

.blog_right_sidebar .search_widget .input-group button span {
    font-size: 14px;
    color: #999
}

.blog_right_sidebar .newsletter_widget .form-control {
    height: 50px;
    border-color: #f0e9ff;
    font-size: 13px;
    color: #999;
    padding-left: 20px;
    border-radius: 0
}

.blog_right_sidebar .newsletter_widget .form-control::placeholder {
    color: #999
}

.blog_right_sidebar .newsletter_widget .form-control:focus {
    border-color: #f0e9ff;
    outline: 0;
    box-shadow: none
}

.blog_right_sidebar .newsletter_widget .input-group button {
    background: #fff;
    border-left: 0;
    border: 1px solid #f0e9ff;
    padding: 4px 15px;
    border-left: 0
}

.blog_right_sidebar .newsletter_widget .input-group button i,
.blog_right_sidebar .newsletter_widget .input-group button span {
    font-size: 14px;
    color: #fff
}

.blog_right_sidebar .post_category_widget .cat-list li {
    border-bottom: 1px solid #f0e9ff;
    transition: all .3s ease 0s;
    padding-bottom: 12px
}

.blog_right_sidebar .post_category_widget .cat-list li:last-child {
    border-bottom: 0
}

.blog_right_sidebar .post_category_widget .cat-list li a {
    font-size: 14px;
    line-height: 20px;
    color: #888
}

.blog_right_sidebar .post_category_widget .cat-list li a p {
    margin-bottom: 0
}

.blog_right_sidebar .post_category_widget .cat-list li+li {
    padding-top: 15px
}

.blog_right_sidebar .popular_post_widget .post_item .media-body {
    justify-content: center;
    align-self: center;
    padding-left: 20px
}

.blog_right_sidebar .popular_post_widget .post_item .media-body h3 {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 6px;
    transition: all .3s linear
}

.blog_right_sidebar .popular_post_widget .post_item .media-body a:hover {
    color: #fff
}

.blog_right_sidebar .popular_post_widget .post_item .media-body p {
    font-size: 14px;
    line-height: 21px;
    margin-bottom: 0
}

.blog_right_sidebar .popular_post_widget .post_item+.post_item {
    margin-top: 20px
}

.blog_right_sidebar .tag_cloud_widget ul li {
    display: inline-block
}

.blog_right_sidebar .tag_cloud_widget ul li a {
    display: inline-block;
    border: 1px solid #eee;
    background: #fff;
    padding: 4px 20px;
    margin-bottom: 8px;
    margin-right: 3px;
    transition: all .3s ease 0s;
    color: #888;
    font-size: 13px
}

.blog_right_sidebar .tag_cloud_widget ul li a:hover {
    background: #ff4495;
    color: #fff!important;
    -webkit-text-fill-color: #fff;
    text-decoration: none;
    -webkit-transition: .5s;
    transition: .5s
}

.blog_right_sidebar .instagram_feeds .instagram_row {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    margin-right: -6px;
    margin-left: -6px
}

.blog_right_sidebar .instagram_feeds .instagram_row li {
    width: 33.33%;
    float: left;
    padding-right: 6px;
    padding-left: 6px;
    margin-bottom: 15px
}

.blog_right_sidebar .br {
    width: 100%;
    height: 1px;
    background: #eee;
    margin: 30px 0
}

.blog-pagination {
    margin-top: 80px
}

.blog-pagination .page-link {
    font-size: 14px;
    position: relative;
    display: block;
    padding: 0;
    text-align: center;
    margin-left: -1px;
    line-height: 45px;
    width: 45px;
    height: 45px;
    border-radius: 0!important;
    color: #8a8a8a;
    border: 1px solid #f0e9ff;
    margin-right: 10px
}

.blog-pagination .page-link i,
.blog-pagination .page-link span {
    font-size: 13px
}

.blog-pagination .page-item.active .page-link {
    background-color: #fbf9ff;
    border-color: #f0e9ff;
    color: #888
}

.blog-pagination .page-item:last-child .page-link {
    margin-right: 0
}

.single-post-area .blog_details {
    box-shadow: none;
    padding: 0
}

.single-post-area .blog_details {
    padding-top: 26px
}

.single-post-area .blog_details p {
    margin-bottom: 20px;
    font-size: 15px
}

.single-post-area .quote-wrapper {
    background: rgba(130, 139, 178, .1);
    padding: 15px;
    line-height: 1.733;
    color: #888;
    font-style: italic;
    margin-top: 25px;
    margin-bottom: 25px
}

@media (min-width:768px) {
    .single-post-area .quote-wrapper {
        padding: 30px
    }
}

.single-post-area .quotes {
    background: #fff;
    padding: 15px 15px 15px 20px;
    border-left: 2px solid
}

@media (min-width:768px) {
    .single-post-area .quotes {
        padding: 25px 25px 25px 30px
    }
}

.single-post-area .arrow {
    position: absolute
}

.single-post-area .arrow .lnr {
    font-size: 20px;
    font-weight: 600
}

.single-post-area .navigation-top {
    padding-top: 15px;
    border-top: 1px solid #f0e9ff
}

.single-post-area .navigation-top p {
    margin-bottom: 0
}

.single-post-area .navigation-top .like-info {
    font-size: 14px
}

.single-post-area .navigation-top .like-info i,
.single-post-area .navigation-top .like-info span {
    font-size: 16px;
    margin-right: 5px
}

.single-post-area .navigation-top .social-icons li {
    display: inline-block;
    margin-right: 15px
}

.single-post-area .navigation-top .social-icons li:last-child {
    margin: 0
}

.single-post-area .navigation-top .social-icons li i,
.single-post-area .navigation-top .social-icons li span {
    font-size: 14px;
    color: #999
}

.single-post-area .blog-author {
    padding: 40px 30px;
    background: #fbf9ff;
    margin-top: 50px
}

@media (max-width:600px) {
    .single-post-area .blog-author {
        padding: 20px 8px
    }
}

.single-post-area .blog-author img {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    margin-right: 30px
}

@media (max-width:600px) {
    .single-post-area .blog-author img {
        margin-right: 15px;
        width: 45px;
        height: 45px
    }
}

.single-post-area .blog-author a {
    display: inline-block
}

.single-post-area .blog-author a:hover {
    color: #232f5544a
}

.single-post-area .blog-author p {
    margin-bottom: 0;
    font-size: 15px
}

.single-post-area .blog-author h4 {
    font-size: 16px
}

.single-post-area .navigation-area {
    border-bottom: 1px solid #eee;
    padding-bottom: 30px;
    margin-top: 55px
}

.single-post-area .navigation-area p {
    margin-bottom: 0
}

.single-post-area .navigation-area h4 {
    font-size: 18px;
    line-height: 25px
}

.single-post-area .navigation-area .nav-left {
    text-align: left
}

.single-post-area .navigation-area .nav-left .thumb {
    margin-right: 20px;
    background: #232f55
}

.single-post-area .navigation-area .nav-left .thumb img {
    -webkit-transition: all .3s ease-out 0s;
    -moz-transition: all .3s ease-out 0s;
    -ms-transition: all .3s ease-out 0s;
    -o-transition: all .3s ease-out 0s;
    transition: all .3s ease-out 0s
}

.single-post-area .navigation-area .nav-left .lnr {
    margin-left: 20px;
    opacity: 0;
    -webkit-transition: all .3s ease-out 0s;
    -moz-transition: all .3s ease-out 0s;
    -ms-transition: all .3s ease-out 0s;
    -o-transition: all .3s ease-out 0s;
    transition: all .3s ease-out 0s
}

.single-post-area .navigation-area .nav-left:hover .lnr {
    opacity: 1
}

.single-post-area .navigation-area .nav-left:hover .thumb img {
    opacity: .5
}

@media (max-width:767px) {
    .single-post-area .navigation-area .nav-left {
        margin-bottom: 30px
    }
}

.single-post-area .navigation-area .nav-right {
    text-align: right
}

.single-post-area .navigation-area .nav-right .thumb {
    margin-left: 20px;
    background: #232f55
}

.single-post-area .navigation-area .nav-right .thumb img {
    -webkit-transition: all .3s ease-out 0s;
    -moz-transition: all .3s ease-out 0s;
    -ms-transition: all .3s ease-out 0s;
    -o-transition: all .3s ease-out 0s;
    transition: all .3s ease-out 0s
}

.single-post-area .navigation-area .nav-right .lnr {
    margin-right: 20px;
    opacity: 0;
    -webkit-transition: all .3s ease-out 0s;
    -moz-transition: all .3s ease-out 0s;
    -ms-transition: all .3s ease-out 0s;
    -o-transition: all .3s ease-out 0s;
    transition: all .3s ease-out 0s
}

.single-post-area .navigation-area .nav-right:hover .lnr {
    opacity: 1
}

.single-post-area .navigation-area .nav-right:hover .thumb img {
    opacity: .5
}

.comments-area {
    background: transparent;
    border-top: 1px solid #eee;
    padding: 45px 0;
    margin-top: 50px
}

@media (max-width:414px) {
    .comments-area {
        padding: 50px 8px
    }
}

.comments-area h4 {
    margin-bottom: 35px;
    font-size: 18px
}

.comments-area h5 {
    font-size: 16px;
    margin-bottom: 0
}

.comments-area .comment-list {
    padding-bottom: 48px
}

.comments-area .comment-list:last-child {
    padding-bottom: 0
}

@media (max-width:413px) {
    .comments-area .comment-list .single-comment h5 {
        font-size: 12px
    }
    .comments-area .comment-list .single-comment .date {
        font-size: 11px
    }
    .comments-area .comment-list .single-comment .comment {
        font-size: 10px
    }
}

.comments-area .thumb {
    margin-right: 20px
}

.comments-area .thumb img {
    width: 70px;
    border-radius: 50%
}

.comments-area .date {
    font-size: 14px;
    color: #999;
    margin-bottom: 0;
    margin-left: 20px
}

.comments-area .comment {
    margin-bottom: 10px;
    color: #777;
    font-size: 15px
}

.comments-area .btn-reply {
    background-color: transparent;
    color: #888;
    padding: 5px 18px;
    font-size: 14px;
    display: block;
    font-weight: 400
}

.comment-form {
    border-top: 1px solid #eee;
    padding-top: 45px;
    margin-top: 50px;
    margin-bottom: 20px
}

.comment-form .form-group {
    margin-bottom: 30px
}

.comment-form h4 {
    margin-bottom: 40px;
    font-size: 18px;
    line-height: 22px
}

.comment-form .name {
    padding-left: 0
}

@media (max-width:767px) {
    .comment-form .name {
        padding-right: 0;
        margin-bottom: 1rem
    }
}

.comment-form .email {
    padding-right: 0
}

@media (max-width:991px) {
    .comment-form .email {
        padding-left: 0
    }
}

.comment-form .form-control {
    border: 1px solid #f0e9ff;
    border-radius: 5px;
    height: 48px;
    padding-left: 18px;
    font-size: 13px;
    background: transparent
}

.comment-form .form-control:focus {
    outline: 0;
    box-shadow: none
}

.comment-form .form-control::placeholder {
    font-weight: 300;
    color: #999
}

.comment-form .form-control::placeholder {
    color: #777
}

.comment-form textarea {
    padding-top: 18px;
    border-radius: 12px;
    height: 100%!important
}

.comment-form ::-webkit-input-placeholder {
    font-size: 13px;
    color: #777
}

.comment-form ::-moz-placeholder {
    font-size: 13px;
    color: #777
}

.comment-form :-ms-input-placeholder {
    font-size: 13px;
    color: #777
}

.comment-form :-moz-placeholder {
    font-size: 13px;
    color: #777
}

.dropdown .dropdown-menu {
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s
}

.contact-info {
    margin-bottom: 25px
}

.contact-info__icon {
    margin-right: 20px
}

.contact-info__icon i,
.contact-info__icon span {
    color: #8f9195;
    font-size: 27px
}

.contact-info .media-body h3 {
    font-size: 16px;
    margin-bottom: 0;
    font-size: 16px;
    color: #2a2a2a
}

.contact-info .media-body h3 a:hover {
    color: #140c40
}

.contact-info .media-body p {
    color: #8a8a8a
}

.contact-title {
    font-size: 27px;
    font-weight: 600;
    margin-bottom: 20px
}

.form-contact label {
    font-size: 14px
}

.form-contact .form-group {
    margin-bottom: 30px
}

.form-contact .form-control {
    border: 1px solid #e5e6e9;
    border-radius: 0;
    height: 48px;
    padding-left: 18px;
    font-size: 13px;
    background: transparent
}

.form-contact .form-control:focus {
    outline: 0;
    box-shadow: none
}

.form-contact .form-control::placeholder {
    font-weight: 300;
    color: #999
}

.form-contact textarea {
    border-radius: 0;
    height: 100%!important
}

.mfp-bg {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1042;
    overflow: hidden;
    position: fixed;
    background: #4a3600;
    opacity: .6
}

.categories-area .single-cat::before {
    background: #ff4495;
    background: -moz-linear-gradient(top, #ff4495 0%, #ff6d6d 100%);
    background: -webkit-linear-gradient(top, #ff4495 0%, #ff6d6d 100%);
    background: linear-gradient(to bottom, #ff4495 0%, #ff6d6d 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ff4495', endColorstr='#ff6d6d', GradientType=0)
}

.services-area2 {
    background: #0c0c1f;
    background: -moz-linear-gradient(left, #0c0c1f 0%, #232f5595e 100%);
    background: -webkit-linear-gradient(left, #0c0c1f 0%, #232f5595e 100%);
    background: linear-gradient(to right, #0c0c1f 0%, #232f5595e 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#0c0c1f', endColorstr='#232f5595e', GradientType=1)
}

.header-sticky.sticky-bar,
.slider-area {
    background: #232f5595e;
    background: -moz-linear-gradient(left, #232f5595e 0%, #0c0c1f 100%);
    background: -webkit-linear-gradient(left, #232f5595e 0%, #0c0c1f 100%);
    background: linear-gradient(to right, #232f5595e 0%, #0c0c1f 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#232f5595e', endColorstr='#0c0c1f', GradientType=1)
}

.btn,
.video-icon a {
    background: #ff4495;
    background: -moz-linear-gradient(top, #ff4495 0%, #ff6d6d 100%);
    background: -webkit-linear-gradient(top, #ff4495 0%, #ff6d6d 100%);
    background: linear-gradient(to bottom, #ff4495 0%, #ff6d6d 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ff4495', endColorstr='#ff6d6d', GradientType=0)
}

.btn::before {
    background: #ff6d6d;
    background: -moz-linear-gradient(top, #ff6d6d 0%, #ff4495 100%);
    background: -webkit-linear-gradient(top, #ff6d6d 0%, #ff4495 100%);
    background: linear-gradient(to bottom, #ff6d6d 0%, #ff4495 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ff6d6d', endColorstr='#ff4495', GradientType=0)
}

.text-heading {
    margin-bottom: 30px;
    font-size: 24px
}

b,
sup,
sub,
u,
del {
    color: #140c40
}

.typography h1,
.typography h2,
.typography h3,
.typography h4,
.typography h5,
.typography h6 {
    color: #828bb2
}

.button-area {
    background: #fff
}

.button-area .border-top-generic {
    padding: 70px 15px;
    border-top: 1px dotted #eee
}

.button-group-area .genric-btn {
    margin-right: 10px;
    margin-top: 10px
}

.button-group-area .genric-btn:last-child {
    margin-right: 0
}

.genric-btn {
    display: inline-block;
    outline: none;
    line-height: 40px;
    padding: 0 30px;
    font-size: .8em;
    text-align: center;
    text-decoration: none;
    font-weight: 500;
    cursor: pointer;
    -webkit-transition: all .3s ease 0s;
    -moz-transition: all .3s ease 0s;
    -o-transition: all .3s ease 0s;
    transition: all .3s ease 0s
}

.genric-btn:focus {
    outline: none
}

.genric-btn.e-large {
    padding: 0 40px;
    line-height: 50px
}

.genric-btn.large {
    line-height: 45px
}

.genric-btn.medium {
    line-height: 30px
}

.genric-btn.small {
    line-height: 25px
}

.genric-btn.radius {
    border-radius: 3px
}

.genric-btn.circle {
    border-radius: 20px
}

.genric-btn.arrow {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center
}

.genric-btn.arrow span {
    margin-left: 10px
}

.genric-btn.default {
    color: #415094;
    background: #f9f9ff;
    border: 1px solid transparent
}

.genric-btn.default:hover {
    border: 1px solid #f9f9ff;
    background: #fff
}

.genric-btn.default-border {
    border: 1px solid #f9f9ff;
    background: #fff
}

.genric-btn.default-border:hover {
    color: #415094;
    background: #f9f9ff;
    border: 1px solid transparent
}

.genric-btn.primary {
    color: #fff;
    background: #140c40;
    border: 1px solid transparent
}

.genric-btn.primary:hover {
    color: #140c40;
    border: 1px solid #140c40;
    background: #fff
}

.genric-btn.primary-border {
    color: #140c40;
    border: 1px solid #140c40;
    background: #fff
}

.genric-btn.primary-border:hover {
    color: #fff;
    background: #140c40;
    border: 1px solid transparent
}

.genric-btn.success {
    color: #fff;
    background: #4cd3e3;
    border: 1px solid transparent
}

.genric-btn.success:hover {
    color: #4cd3e3;
    border: 1px solid #4cd3e3;
    background: #fff
}

.genric-btn.success-border {
    color: #4cd3e3;
    border: 1px solid #4cd3e3;
    background: #fff
}

.genric-btn.success-border:hover {
    color: #fff;
    background: #4cd3e3;
    border: 1px solid transparent
}

.genric-btn.info {
    color: #fff;
    background: #38a4ff;
    border: 1px solid transparent
}

.genric-btn.info:hover {
    color: #38a4ff;
    border: 1px solid #38a4ff;
    background: #fff
}

.genric-btn.info-border {
    color: #38a4ff;
    border: 1px solid #38a4ff;
    background: #fff
}

.genric-btn.info-border:hover {
    color: #fff;
    background: #38a4ff;
    border: 1px solid transparent
}

.genric-btn.warning {
    color: #fff;
    background: #f4e700;
    border: 1px solid transparent
}

.genric-btn.warning:hover {
    color: #f4e700;
    border: 1px solid #f4e700;
    background: #fff
}

.genric-btn.warning-border {
    color: #f4e700;
    border: 1px solid #f4e700;
    background: #fff
}

.genric-btn.warning-border:hover {
    color: #fff;
    background: #f4e700;
    border: 1px solid transparent
}

.genric-btn.danger {
    color: #fff;
    background: #f44a40;
    border: 1px solid transparent
}

.genric-btn.danger:hover {
    color: #f44a40;
    border: 1px solid #f44a40;
    background: #fff
}

.genric-btn.danger-border {
    color: #f44a40;
    border: 1px solid #f44a40;
    background: #fff
}

.genric-btn.danger-border:hover {
    color: #fff;
    background: #f44a40;
    border: 1px solid transparent
}

.genric-btn.link {
    color: #415094;
    background: #f9f9ff;
    text-decoration: underline;
    border: 1px solid transparent
}

.genric-btn.link:hover {
    color: #415094;
    border: 1px solid #f9f9ff;
    background: #fff
}

.genric-btn.link-border {
    color: #415094;
    border: 1px solid #f9f9ff;
    background: #fff;
    text-decoration: underline
}

.genric-btn.link-border:hover {
    color: #415094;
    background: #f9f9ff;
    border: 1px solid transparent
}

.genric-btn.disable {
    color: #222, .3;
    background: #f9f9ff;
    border: 1px solid transparent;
    cursor: not-allowed
}

.generic-blockquote {
    padding: 30px 50px 30px 30px;
    background: #f9f9ff;
    border-left: 2px solid #140c40
}

.progress-table-wrap {
    overflow-x: scroll
}

.progress-table {
    background: #f9f9ff;
    padding: 15px 0 30px 0;
    min-width: 800px
}

.progress-table .serial {
    width: 11.83%;
    padding-left: 30px
}

.progress-table .country {
    width: 28.07%
}

.progress-table .visit {
    width: 19.74%
}

.progress-table .percentage {
    width: 40.36%;
    padding-right: 50px
}

.progress-table .table-head {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex
}

.progress-table .table-head .serial,
.progress-table .table-head .country,
.progress-table .table-head .visit,
.progress-table .table-head .percentage {
    color: #415094;
    line-height: 40px;
    text-transform: uppercase;
    font-weight: 500
}

.progress-table .table-row {
    padding: 15px 0;
    border-top: 1px solid #edf3fd;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex
}

.progress-table .table-row .serial,
.progress-table .table-row .country,
.progress-table .table-row .visit,
.progress-table .table-row .percentage {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center
}

.progress-table .table-row .country img {
    margin-right: 15px
}

.progress-table .table-row .percentage .progress {
    width: 80%;
    border-radius: 0;
    background: transparent
}

.progress-table .table-row .percentage .progress .progress-bar {
    height: 5px;
    line-height: 5px
}

.progress-table .table-row .percentage .progress .progress-bar.color-1 {
    background-color: #6382e6
}

.progress-table .table-row .percentage .progress .progress-bar.color-2 {
    background-color: #e66686
}

.progress-table .table-row .percentage .progress .progress-bar.color-3 {
    background-color: #f09359
}

.progress-table .table-row .percentage .progress .progress-bar.color-4 {
    background-color: #73fbaf
}

.progress-table .table-row .percentage .progress .progress-bar.color-5 {
    background-color: #73fbaf
}

.progress-table .table-row .percentage .progress .progress-bar.color-6 {
    background-color: #6382e6
}

.progress-table .table-row .percentage .progress .progress-bar.color-7 {
    background-color: #a367e7
}

.progress-table .table-row .percentage .progress .progress-bar.color-8 {
    background-color: #e66686
}

.single-gallery-image {
    margin-top: 30px;
    background-repeat: no-repeat!important;
    background-position: center center!important;
    background-size: cover!important;
    height: 200px
}

.unordered-list li {
    position: relative;
    padding-left: 30px;
    line-height: 1.82em!important
}

.unordered-list li:before {
    content: "";
    position: absolute;
    width: 14px;
    height: 14px;
    border: 3px solid #140c40;
    background: #fff;
    top: 4px;
    left: 0;
    border-radius: 50%
}

.ordered-list {
    margin-left: 30px
}

.ordered-list li {
    list-style-type: decimal-leading-zero;
    color: #140c40;
    font-weight: 500;
    line-height: 1.82em!important
}

.ordered-list li span {
    font-weight: 300;
    color: #828bb2
}

.ordered-list-alpha li {
    margin-left: 30px;
    list-style-type: lower-alpha;
    color: #140c40;
    font-weight: 500;
    line-height: 1.82em!important
}

.ordered-list-alpha li span {
    font-weight: 300;
    color: #828bb2
}

.ordered-list-roman li {
    margin-left: 30px;
    list-style-type: lower-roman;
    color: #140c40;
    font-weight: 500;
    line-height: 1.82em!important
}

.ordered-list-roman li span {
    font-weight: 300;
    color: #828bb2
}

.single-input {
    display: block;
    width: 100%;
    line-height: 40px;
    border: none;
    outline: none;
    background: #f9f9ff;
    padding: 0 20px
}

.single-input:focus {
    outline: none
}

.input-group-icon {
    position: relative
}

.input-group-icon .icon {
    position: absolute;
    left: 20px;
    top: 0;
    line-height: 40px;
    z-index: 3
}

.input-group-icon .icon i {
    color: #797979
}

.input-group-icon .single-input {
    padding-left: 45px
}

.single-textarea {
    display: block;
    width: 100%;
    line-height: 40px;
    border: none;
    outline: none;
    background: #f9f9ff;
    padding: 0 20px;
    height: 100px;
    resize: none
}

.single-textarea:focus {
    outline: none
}

.single-input-primary {
    display: block;
    width: 100%;
    line-height: 40px;
    border: 1px solid transparent;
    outline: none;
    background: #f9f9ff;
    padding: 0 20px
}

.single-input-primary:focus {
    outline: none;
    border: 1px solid #140c40
}

.single-input-accent {
    display: block;
    width: 100%;
    line-height: 40px;
    border: 1px solid transparent;
    outline: none;
    background: #f9f9ff;
    padding: 0 20px
}

.single-input-accent:focus {
    outline: none;
    border: 1px solid #eb6b55
}

.single-input-secondary {
    display: block;
    width: 100%;
    line-height: 40px;
    border: 1px solid transparent;
    outline: none;
    background: #f9f9ff;
    padding: 0 20px
}

.single-input-secondary:focus {
    outline: none;
    border: 1px solid #f09359
}

.default-switch {
    width: 35px;
    height: 17px;
    border-radius: 8.5px;
    background: #f9f9ff;
    position: relative;
    cursor: pointer
}

.default-switch input {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer
}

.default-switch input+label {
    position: absolute;
    top: 1px;
    left: 1px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #140c40;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .2);
    cursor: pointer
}

.default-switch input:checked+label {
    left: 19px
}

.primary-switch {
    width: 35px;
    height: 17px;
    border-radius: 8.5px;
    background: #f9f9ff;
    position: relative;
    cursor: pointer
}

.primary-switch input {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0
}

.primary-switch input+label {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%
}

.primary-switch input+label:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    border-radius: 8.5px;
    cursor: pointer;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s
}

.primary-switch input+label:after {
    content: "";
    position: absolute;
    top: 1px;
    left: 1px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #fff;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .2);
    cursor: pointer
}

.primary-switch input:checked+label:after {
    left: 19px
}

.primary-switch input:checked+label:before {
    background: #140c40
}

.confirm-switch {
    width: 35px;
    height: 17px;
    border-radius: 8.5px;
    background: #f9f9ff;
    position: relative;
    cursor: pointer
}

.confirm-switch input {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0
}

.confirm-switch input+label {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%
}

.confirm-switch input+label:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    border-radius: 8.5px;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
    cursor: pointer
}

.confirm-switch input+label:after {
    content: "";
    position: absolute;
    top: 1px;
    left: 1px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #fff;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .2);
    cursor: pointer
}

.confirm-switch input:checked+label:after {
    left: 19px
}

.confirm-switch input:checked+label:before {
    background: #4cd3e3
}

.primary-checkbox {
    width: 16px;
    height: 16px;
    border-radius: 3px;
    background: #f9f9ff;
    position: relative;
    cursor: pointer
}

.primary-checkbox input {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0
}

.primary-checkbox input+label {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    border-radius: 3px;
    cursor: pointer;
    border: 1px solid #f1f1f1
}

.primary-checkbox input:checked+label {
    background: url(../images/elements-primary-check.png) no-repeat center center/cover;
    border: none
}

.confirm-checkbox {
    width: 16px;
    height: 16px;
    border-radius: 3px;
    background: #f9f9ff;
    position: relative;
    cursor: pointer
}

.confirm-checkbox input {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0
}

.confirm-checkbox input+label {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    border-radius: 3px;
    cursor: pointer;
    border: 1px solid #f1f1f1
}

.confirm-checkbox input:checked+label {
    background: url(../images/elements-success-check.png) no-repeat center center/cover;
    border: none
}

.disabled-checkbox {
    width: 16px;
    height: 16px;
    border-radius: 3px;
    background: #f9f9ff;
    position: relative;
    cursor: pointer
}

.disabled-checkbox input {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0
}

.disabled-checkbox input+label {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    border-radius: 3px;
    cursor: pointer;
    border: 1px solid #f1f1f1
}

.disabled-checkbox input:disabled {
    cursor: not-allowed;
    z-index: 3
}

.disabled-checkbox input:checked+label {
    background: url(../images/elements-disabled-check.png) no-repeat center center/cover;
    border: none
}

.primary-radio {
    width: 16px;
    height: 16px;
    border-radius: 8px;
    background: #f9f9ff;
    position: relative;
    cursor: pointer
}

.primary-radio input {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0
}

.primary-radio input+label {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    cursor: pointer;
    border: 1px solid #f1f1f1
}

.primary-radio input:checked+label {
    background: url(../images/elements-primary-radio.png) no-repeat center center/cover;
    border: none
}

.confirm-radio {
    width: 16px;
    height: 16px;
    border-radius: 8px;
    background: #f9f9ff;
    position: relative;
    cursor: pointer
}

.confirm-radio input {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0
}

.confirm-radio input+label {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    cursor: pointer;
    border: 1px solid #f1f1f1
}

.confirm-radio input:checked+label {
    background: url(../images/elements-success-radio.png) no-repeat center center/cover;
    border: none
}

.disabled-radio {
    width: 16px;
    height: 16px;
    border-radius: 8px;
    background: #f9f9ff;
    position: relative;
    cursor: pointer
}

.disabled-radio input {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0
}

.disabled-radio input+label {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    cursor: pointer;
    border: 1px solid #f1f1f1
}

.disabled-radio input:disabled {
    cursor: not-allowed;
    z-index: 3
}

.disabled-radio input:checked+label {
    background: url(../images/elements-disabled-radio.png) no-repeat center center/cover;
    border: none
}

.default-select {
    height: 40px
}

.default-select .nice-select {
    border: none;
    border-radius: 0;
    height: 40px;
    background: #f9f9ff;
    padding-left: 20px;
    padding-right: 40px
}

.default-select .nice-select .list {
    margin-top: 0;
    border: none;
    border-radius: 0;
    box-shadow: none;
    width: 100%;
    padding: 10px 0 10px 0
}

.default-select .nice-select .list .option {
    font-weight: 300;
    -webkit-transition: all .3s ease 0s;
    -moz-transition: all .3s ease 0s;
    -o-transition: all .3s ease 0s;
    transition: all .3s ease 0s;
    line-height: 28px;
    min-height: 28px;
    font-size: 12px;
    padding-left: 20px
}

.default-select .nice-select .list .option.selected {
    color: #140c40;
    background: transparent
}

.default-select .nice-select .list .option:hover {
    color: #140c40;
    background: transparent
}

.default-select .current {
    margin-right: 50px;
    font-weight: 300
}

.default-select .nice-select::after {
    right: 20px
}

.form-select {
    height: 40px;
    width: 100%
}

.form-select .nice-select {
    border: none;
    border-radius: 0;
    height: 40px;
    background: #f9f9ff;
    padding-left: 45px;
    padding-right: 40px;
    width: 100%
}

.form-select .nice-select .list {
    margin-top: 0;
    border: none;
    border-radius: 0;
    box-shadow: none;
    width: 100%;
    padding: 10px 0 10px 0
}

.form-select .nice-select .list .option {
    font-weight: 300;
    -webkit-transition: all .3s ease 0s;
    -moz-transition: all .3s ease 0s;
    -o-transition: all .3s ease 0s;
    transition: all .3s ease 0s;
    line-height: 28px;
    min-height: 28px;
    font-size: 12px;
    padding-left: 45px
}

.form-select .nice-select .list .option.selected {
    color: #140c40;
    background: transparent
}

.form-select .nice-select .list .option:hover {
    color: #140c40;
    background: transparent
}

.form-select .current {
    margin-right: 50px;
    font-weight: 300
}

.form-select .nice-select::after {
    right: 20px
}

.mt-10 {
    margin-top: 10px
}

.section-top-border {
    padding: 50px 0;
    border-top: 1px dotted #eee
}

.mb-30 {
    margin-bottom: 30px
}

.mt-30 {
    margin-top: 30px
}

.switch-wrap {
    margin-bottom: 10px
}